
<link rel="stylesheet" href="/css/login/style.css">

<div class="main-container">
    <div class="login-container">
        <form method="post" action="/login">
            <input type="email" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <button type="submit">Log In</button>
        </form>
        <div class="line-container">
            <hr style="width: 100%; color: #DADDE1" />
            <span>OR</span>
            <hr style="width: 100%; color: #DADDE1" />
        </div>

        <div id="google-login" class="google-login">
            <img src="/images/google-icon.png" alt="" />
            <span>Login using Google</span>
        </div>


        <a href=""><span>Forgotten password?</span></a>

        <button class="signup-button">Create new account</button>
    </div>
    <% if (error) { %>
        <div style="font-size: 18px; color: red;"><span>Invalid user/password</span></div>
    <% } %>

</div>

<script src="/js/login/login.js"></script>