
<link rel="stylesheet" href="/css/lostpass/style.css">

<div class="main-container">
    <form class="reset-container" method="post" action="/lost-pass">
        <input id="email" requried type="email" name="email" placeholder="Email"/>
        <button id="submit" type="submit">Submit</button>
    </form>
</div>

<script src="/js/lostpass/lostpass.js"></script>