
<link rel="stylesheet" href="/css/profile/style.css">
<div class="main-container">
    <div class="profile-container">
        <button>Reset Password</button>
        <button id="signout">Sign Out</button>
    </div>
</div>

<script src="/js/profile/profile.js"></script>