
<link rel="stylesheet" href="/css/reset/style.css">

<div class="main-container">
    <form class="reset-container" method="post" action="/pass-change">
        <input id="pass" requried type="password" name="password" placeholder="New password"/>
        <input id="con-pass" required type="password" name="confirm-pass" placeholder="Confirm new password"/>
        <button id="submit" type="submit">Submit</button>
    </form>
</div>

<script src="/js/reset/reset.js"></script>